
.reveal section img {
    border: 0;
    box-shadow: none;
}

.reveal p span.slide-title {
    padding: 4px 15px;
    border-radius: 15px;
    color: #eee !important;
    font-weight: normal !important;
    line-height: 1.2 !important;
    letter-spacing: -0.03em !important;
    font-family: "Montserrat", Impact, sans-serif !important;
}