.small-image {
    width: 200px;
}

.reveal section img {
    border: 0;
    box-shadow: none;
}

.reveal p span.slide-title {
    color: #e49436;
    font-size: 1.55em;
    margin: 0 0 60px 0;
    font-family: "Montserrat", Impact, sans-serif;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: none;
    text-shadow: none;
    word-wrap: break-word;
    display: block;
}